In [40]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

# 1. Czysczenie danych

#Ładowanie danych
df_org = pd.read_excel('/content/RYNEK_NIER.xlsx', header=0)

#kopia orginalnych dancyh
df = df_org.copy()

# Sprawdzenie brakujących danych
missing_data = df.isnull().sum()

print("Liczba brakujących danych w każdej kolumnie:")
display(missing_data)

# Inicjalizacja słownika do przechowywania liczby wystąpień '-' dla każdej kolumny
hyphen_counts = {}

# Iteracja przez wszystkie kolumny w DataFrame
for column in df.columns:
    count = (df[column].astype(str) == '-').sum()
    hyphen_counts[column] = count

print("Liczba wystąpień pojedynczego myślnika '-' w każdej kolumnie:")
display(pd.Series(hyphen_counts))

#zmiana - na 0
df.replace('-', 0, inplace=True)

# tworzenie kolumny z wartosciami numerycznymi
df['wartosc_numeric'] = pd.to_numeric(df['Wartosc'], errors='coerce')

# grupowanie brakujacych danych które są zapisane jako 0 z transakcjami
zeros_by_transakcja = df.groupby('Transakcje rynkowe')['wartosc_numeric'].apply(lambda x: (x == 0).sum())


print("Liczba zer w kolumnie Wartosc dla każdej opcji w kolumnie Transakcje")
display(zeros_by_transakcja)

Liczba brakujących danych w każdej kolumnie:

Nazwa                 0
Transakcje rynkowe    0
Rok                   0
Wartosc               0
dtype: int64

Liczba wystąpień pojedynczego myślnika '-' w każdej kolumnie:

Nazwa                 0
Transakcje rynkowe    0
Rok                   0
Wartosc               9
dtype: int64

Liczba zer w kolumnie Wartosc dla każdej opcji w kolumnie Transakcje

Transakcje rynkowe
ogółem              109
rynek pierwotny    1457
rynek wtórny        112
Name: wartosc_numeric, dtype: int64